body {
    background-image: url("gravel.png");
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    height: 120px; 
}

li {
    display: inline-block;
    text-align: center;
}

a {
    display: block;
    padding: 8px;
    font-size: 24px;
    text-align: center;
    margin: 20px 40px 20px 20px;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    background-color: #4aaaa5;
    padding: 50px;
    font-size: 24px;
    color: white;
}

.indexmain {
    position: relative;
    width: 960px;
    background-color: #ffffff; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0 auto;   
}

.header {
    clear: both;
    overflow: auto;
    display: block;
    padding: 20px;
    border: 2px solid #cccccc;
}

h2 { 
    width: 100%;
    font-size: 24px;
    color: #4aaaa5; 
    font-weight: bold;
}

.maincontent {
    width: 960px;
}

#bio-pic {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
}

p {
    line-height: 20px;
    margin: 10px;
    position: relative;
}

form{
    text-align: left;
    margin: 10px;
}

input {
    margin: 10px;
    width: 90%;
}

textarea {
    margin: 10px;
    width: 90%;
}

#submit {
    width: 10%;
    height: 30px;
    background-color: #4aaaa5; 
    color: white;
    border: none;
}

table, tr, td {
    padding: 10px;
    margin: 10px;
    position: relative;
}

#hangman {
    width: 300px;
    height: 200px;
    margin: 10px;
}

#rpg {
    width: 300px;
    height: 200px;
    margin: 10px;
}

#trivia {
    width: 300px;
    height: 200px;
    margin: 10px;
}

#info {
    width: 300px;
    height: 200px;
    margin: 10px;
}

#rockpaperscissors {
    width: 300px;
    height: 200px;
    margin: 10px;
}

h3 {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 82%;
    height: 20px;
    padding: 10px;
    z-index: 2;
}

footer {
    clear: both;
    overflow: auto;
    width: 100%;
    height: 40px;
    background-color: #666666;
    position: fixed;
    bottom: 0px;
    font-size: 10px;
    text-align: center;
    color: white;
    border-top: 10px solid #4aaaa5;
}





